body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
/*nav{
    display: flex;
    justify-content: space-between;
    color: white;
    margin-left: 30px;
    font-size: 20px;
}*/
nav{
    color: white;
    display: flex;
    justify-content: space-between;
}
.menu ul{
    display: flex;
    flex-direction: row;
}
ul li{
    list-style: none;
    margin-inline: 30px;
    margin-top: 15px;
}
.btn button{
    width: 80px;
    height:36px ;
    border: 3px solid red;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 18px;
    margin-top: 10px;
    margin-right: 20px;
}
nav h1{
    font-size: 25px;
    color: aqua;
    border-bottom: 5px solid red;
    border-radius: 40px;
    margin-left: 50px;
    margin-top: 15px;

}
.main-div{
    display: flex;
    justify-content: space-between;
    color: white;
}
.main-div .head{
    font-size: 40px;
    margin-left: 40px;
}
.img img{
    margin-right: 20px;
    width: 500px;
    height: 380px;

}
.head button{
    width: 150px;
    height: 45px;
    background-color: red;
    color: white;
    font-size: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px aqua;
    margin-top: 120px;

}
.head button:hover{
    background-color: black;
    border: 3px solid red;
     cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}
.head h1{
    margin-top: 100px;
}